@import "../../../assets/variables.scss";

.page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.section {
  width: 100%;
  margin: 0 0 80px;
  cursor: default;

  .titleContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 32px;

    .title {
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      color: $mainTitleDarkGreyColor;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    height: fit-content;
    list-style-type: none;
  }
}