@import "../../../assets/variables.scss";

.eventCard {
  position: relative;
  font-family: "IBM Plex Sans";
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  gap: 24px;
  align-items: center;
  display: flex;
  cursor: default;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.1);

  .imageContainer {
    position: relative;
    border-radius: 8px;
    height: 180px;
    min-width: 296px;
    max-width: 296px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03);
      -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.7);
      box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.7);
    }

    .image {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
  }

  .likeButton {
    background: url(../../../assets/othericons/favorites-header-icon.svg) no-repeat center;
    background-size: 19.5px 19px;
    width: 19.5px;
    height: 19px;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
  }

  .likeButtonActive {
    background: url(../../../assets/othericons/like-button_active.svg) no-repeat center;
    background-size: 21.01px 20.25px;
    width: 21.01px;
    height: 20.25px;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
  }
}

.titleContainer {
  display: flex;
  align-items: baseline;
  max-width: 100%;
  max-height: 48px;
  overflow: hidden;
}

.title {
  font-weight: 500;
  color: $smallTitleDarkGreyColor;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.price {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-top: 8px;
  margin: 8px 0 0 6px;
  color: $purpleColor;
  width: fit-content;
  border-radius: 8px;
}

.rowContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $mainTextGreyColor;
  white-space: wrap;
  list-style-type: none;

  .rowItem {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .rowImg {
    position: relative;
    top: 4px;
  }
  p {
    margin: 4px 0;
  }
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 296px;
}
