<section class="filterForm">
  <h2 class="filterTitle">Фильтры</h2>
  <ul class="filterList">


    <li class="listItem">
      <p class="itemTitle">Название</p>
      <form submit="" style="width:100%" class="form">
        <input class="input" (keyup)="changeValue()" name="searchInput" type="text" placeholder="Разработка"
          [(ngModel)]="searchInputValue" />
      </form>
    </li>


    <li class="listItem">
      <p class="itemTitle">Формат</p>

      <label htmlFor="1">
        <input id="1" name="formatCheckbox1" value="Online" type="checkbox" class="checkbox"/>
        <span class="checkboxLabel">Online</span>
      </label>

      <label htmlFor="2">
        <input id="2" name="formatCheckbox2" value="Offline" type="checkbox" class="checkbox"/>
        <span class="checkboxLabel">Offline</span>
      </label>

    </li>

    <!--     <FiltersListItem title="Формат">
      <InputCheckbox label="online" value="Online" name="status" checked={values.status.includes("Online")}
        onChange={(event)=> {
        handleQueryChange(event);
        setFilters({
        ...filters,
        formats: event.target.value.toLowerCase(),
        });
        }}
        />
        <InputCheckbox label="offline" value="Offline" name="status" checked={values.status.includes("Offline")}
          onChange={(event)=> {
          handleQueryChange(event);
          setFilters({
          ...filters,
          formats: event.target.value.toLowerCase(),
          });
          }}
          />
    </FiltersListItem> -->







    <!--     <FiltersListItem title="Город">
      <SearchInput placeholder="Поиск города" name="city" value={values.city} onChange={(event)=> {
        handleInputChange(event);
        setFilters({
        ...filters,
        city__name: event.target.value.toLowerCase(),
        });
        }}
        onSubmit={(e) => e.preventDefault()}
        />
        {findValues && findValues.city && findValues.city !== "" && (
        <div class="serchContainer">
          {findValues.city.map((item, index) => {
          return (
          <button key={index} onClick={()=> {
            setItemOnClick({ city: item });
            setFilters({ ...filters, city__name: item });
            }}
            class="findItem"
            >
            {item}
          </button>
          );
          })}
        </div>
        )}
    </FiltersListItem> -->

    <!--     <FiltersListItem title="Дата">
      {renderDateOptions()}
      <button onClick={toggleShowAllDates} class="showMore">
        {showAllDates ? "Показать меньше" : "Показать больше"}
      </button>
    </FiltersListItem> -->

    <!--     <FiltersListItem title="Направление">
      {renderSpecialityList()}
      {dataLists?.topics?.length > 3 && (
      <button onClick={toggleShowAllTopics} class="showMore">
        {showAllTopics ? "Показать меньше" : "Показать больше"}
      </button>
      )}
    </FiltersListItem> -->

    <!--     <FiltersListItem title="Цена">
      <InputRadio label="free" value="Бесплатно" name="price" checked={values.price==="Бесплатно" } onChange={(event)=>
        {
        handleQueryChange(event);
        setFilters({ ...filters, price__lte: 0 });
        }}
        />
        <InputRadio label="paid" value="Платно" name="price" checked={values.price==="Платно" } onChange={(event)=> {
          handleQueryChange(event);
          setFilters({ ...filters, price__gte: 1 });
          }}
          />
    </FiltersListItem> -->

    <!--     <FiltersListItem title="Теги">
      <SearchInput placeholder="Поиск тега" name="findTags" value={values.findTags}
        onChange={(event)=> {
        handleQueryChange(event);
        setFilters({ ...filters, tag: event.target.value });
        }}
        onSubmit={(e) => e.preventDefault()}
        />
        {findValues && findValues.findTags && findValues.findTags !== "" && (
        <div class="serchContainer">
          <div class="tagsList">
            {findValues.findTags.map((item, index) => {
            return (
            <TagButton key={index} value={item} //isEnabled={values.tags.includes(item.label)}
              //isEnabled={findValues.findTags.includes(item)} onChange={()=> {
              handleButtonChange(item);
              setFilters({ ...filters, tag: item });
              }}
              />
              );
              })}
          </div>
        </div>
        )}
        <span class="popularTags">Популярные теги</span>
    </FiltersListItem> -->
  </ul>
  <!-- <TagSection handleChange={handleButtonChange} tags={dataLists.allTags} />
  <PrimaryButton onClick={handleSearchClick} title="Найти" /> -->
</section>