@import "../../../assets/variables.scss";

.filterForm {
  font-family: "IBM Plex Sans";
  width: 315px;
  cursor: default;
  overflow-x: scroll;
  /* Для Firefox */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Для Safari, Chrome и т. д. */
.filterForm::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.filterTitle {
  padding: 0 0 40px 40px;
  font-size: 32px;
  line-height: 38.4px;
  color: $mainTitleDarkGreyColor;
}

.filterList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 40px;
}

.itemTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $smallTitleDarkGreyColor;
  margin-bottom: 25px;
}

.popularTags {
  display: flex;
  margin: 10px 0;
  font-size: 12px;
  color: $mainTextGreyColor;
}

.serchContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) -185%,
    #ffffff 100%
  );
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 29px rgba(36, 63, 97, 0.9);
  border-radius: 12px;
  margin-top: 16px;
  z-index: 10;
}

.serchContainer::after {
  position: absolute;
  content: "";
  width: fit-content;
  height: 20px;
  bottom: 10px;
  left: 5px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) -185%,
    #ffffff 100%
  );
  z-index: -1;
}

.findItem {
  display: flex;
  padding: 10px 20px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  mix-blend-mode: normal;
  z-index: 7;
  color: $mainTitleDarkGreyColor;
  white-space: nowrap;
}

.findItem:hover {
  background-color: #f8f8f8;
}

.topicButton {
  display: flex;
  align-items: center;
  width: 192px;
  height: 34px;
  border-radius: 20px;
  /* background: url("./../../images/Actions/loupe.svg") no-repeat; */
  background-position-x: 12px;
  background-position-y: center;
  margin-bottom: 10px;
  padding-left: 40px;
  border: 0;
  box-shadow: 0px 1px 4px rgba(36, 63, 97, 0.1),
    0px 0px 1px rgba(36, 63, 97, 0.16);
  color: $mainTextGreyColor;
  cursor: pointer;
}

.topicButton:hover {
  box-shadow: 0px 1px 4px rgba(103, 78, 174, 0.3),
    0px 0px 1px rgba(103, 78, 174, 0.3);
  outline: none;
}

.showMore {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 500;
  color: $purpleColor;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.showMore:hover {
  color: $darkPurpleColor;
}

.listItem {
  margin-bottom: -7px;
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 20px 8px;
}

.form {
  width: 100%;
}

.input {
  background: url("../../../assets/actionsicons/loupe.svg") no-repeat;
  background-position-x: 12px;
  background-position-y: center;
  margin: -4px 0 9px 1px;
  padding-left: 40px;
  padding-right: 20px;
  height: 34px;
  width: 192px;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 1px 4px rgba(36, 63, 97, 0.1),
    0px 0px 1px rgba(36, 63, 97, 0.16);
  color: $smallTitleDarkGreyColor;
  &:focus {
    box-shadow: 0px 1px 4px rgba(103, 78, 174, 0.3),
      0px 0px 1px rgba(103, 78, 174, 0.3);
    outline: none;
    color: $mainTitleDarkGreyColor;
  }
}
.itemTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $smallTitleDarkGreyColor;
  margin-bottom: 25px;
}

.checkbox {
  display: none;
}

.checkboxLabel {
  position: relative;
  display: flex;
  width: fit-content;
  padding-left: 27px;
  padding-bottom: 17px;
  color: $mainTextGreyColor;
  cursor: pointer;
}

.checkboxLabel:before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid $mainTextGreyColor;
  border-radius: 2px;
}

.checkboxLabel:hover:before {
  border-color: $purpleColor;
}

.checkbox:checked + .checkboxLabel:before {
  background: url("../../../assets/actionsicons/check.svg") no-repeat;
  background-position: center;
  background-color: $purpleColor;
  border-color: $purpleColor;
}