.pageFavorites {
  max-width: 90%;
  margin: 0 auto;
}
.container {
  font-family: "IBM Plex Sans";
  margin: 20px 0 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
  max-width: 468px;
  cursor: default;

  .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  .subtitle {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.6);
  }
}