:root {// FONT COLORS
  --mainTextGreyColor: #797979;
  --smallTitleDarkGreyColor: #242424;
  --mainTitleDarkGreyColor: #202020;
  --purpleColor: #674eae;
  --lightPurpleColor: rgba(103, 78, 174, 0.8);
  --darkPurpleColor: #443375;
  --lightBeigeColor: rgb(229, 229, 224);
  --blackColor: #000000;
  --whiteColor: #ffffff;
  
  // TABS
  --lightGrey: rgb(190, 190, 190);
  --mediumGrey: rgb(150, 150, 150);
  --darkGrey: rgb(110, 110, 110);
  
  // BACKGROUNDS
  --footerBackground: #2a2630;
}