<nav class="header">
  <a routerLink="/" class="logoLink">Connect<span> &#123;IT&#125;</span></a>

  <div class="header__right">

    <a routerLink="/favorites" class="link">
      <img src="../../../assets/othericons/favorites-header-icon.svg" />
      <span>Избранное</span>
    </a>

    <a *ngIf="!authService.isLoggedIn()" routerLink="/login" class="link link_log">Войти</a>
    <a *ngIf="authService.isLoggedIn()" routerLink="/" class="link link_log" (click)="onLogOut()">Выйти</a>

  </div>
</nav>